/* Ensures that padding and border are included in the width and height calculations */
*,
*::before,
*::after {
  box-sizing: border-box;

}

.uploadFile {
  background: #ffffff;

  padding: 0px;
  border-radius: 5px;
  height: 100%;
}

.fileInput {
  height: 50px;

  font-size: 1rem;
  border-radius: 5px;

  background: #ffffff;
  border: 1px solid black;
  color: #000000;

}

.test {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 30px;
  
 
  /* Add padding to align inner elements */
}

.bankLogo {
  display: flex;
  justify-content: center;

  height: 50px;
}

.commonWidth {
  width: 100%;


}

.requestResponse {
  height: 280px;
  width: 100%;
  /* Set to 100% for consistency */
  font-size: 1rem;
  color: black;
  border-radius: 10px;
  resize: none;

}

.requestResponseErrorComponent {
  height: auto;
  width: 100%;

  justify-content: space-between;
  /* Adjusted to fit inner elements */
  align-items: center;
  border-radius: 10px;
  resize: none;
  margin: 5px;

}

.productName {
  height: 30px;
  font-size: 1rem;
  border-radius: 5px;
  margin: 10px 0;
  /* Add margin for spacing */
  width: 100%;
  /* Set to 100% for consistency */
  padding: 5px;
  
}

.apiName {
  height: 25px;
  width: 100%;
  /* Set to 100% for consistency */
  font-size: 1rem;
  color: black;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.apiDetails {
  background-color: rgba(129, 168, 232, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  /* Adjusted to fit inner elements */
  align-items: center;
  margin: 10px 0;
  /* Add margin for spacing */
  height: auto;
  /* Adjust height to fit content */
  width: 100%;
  /* Ensure full width */
  padding: 5px;

}

.removeButton {
  border-radius: 20px;
  background-color: rgb(225, 220, 220);
  
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.addButton {
  background: #014c92;
  color: #ffffff;
  height: 30px;
  font-size: 1rem;
  border-radius: 5px;
  margin: 10px 0;
  /* Add margin for spacing */
  width: 100%;
  /* Set to 100% for consistency */
  padding: 5px;

}



.enabledButton,
.disabledButton {
  height: 30px;
  font-size: 1rem;
  border-radius: 5px;
  margin: 10px 0;
  /* Add margin for spacing */
  width: 100%;
  /* Set to 100% for consistency */
  padding: 5px;
}

.enabledButton {
  background: #014c92;
  color: #ffffff;
}

.disabledButton {
  background: rgba(1, 76, 146, 0.4);
  color: rgba(255, 255, 255, 0.4);
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  background: rgba(1, 76, 146);
  padding: 5px;
  margin: 5px;
}

h1 {
  font-size: 1.5rem;
}


.error {
  color: red;
  margin-bottom: 5px;
  width: 100%;
  text-align: left;

}

.stepper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  padding: 10px;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
}

.step.active {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.additionalButtons {
  display: flex;
  align-items: center;
  margin-top: 20px;
  
}

.additionalButtons button {
  margin: 0 10px;
  width: 20%;
  background: #014c92;
  color: #ffffff;
  height: 30px;

}

.additionalButtons .rightButton {
  margin-left: 10px;
  width: 20%;
  background: #014c92;
  color: #ffffff;
  height: 30px;
}

.additionalButtons .leftButton {
  margin: 0 10px;
}

.small-button {
  font-size: 0.875rem; /* Smaller font size */
  padding: 5px 10px; /* Less padding */
  margin: 5px; /* Smaller margin */
  width: auto; /* Auto width for smaller button */
  border-radius: 5px; /* Consistent border radius */
}

.fileInput {
  display: block;
  
}